<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="windows-1250">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Vendor styles -->
    <link rel="stylesheet" href="{$basePath}/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="{$basePath}/css/animate.min.css">
    <link rel="stylesheet" href="{$basePath}/css/jquery.scrollbar.css">
    <link rel="stylesheet" href="{$basePath}/css/fullcalendar.min.css">

    <!-- App styles -->
    <link rel="stylesheet" href="{$basePath}/css/app.min.css">
    <link rel="stylesheet" href="{$basePath}/css/hlasys.css">
    <link rel="stylesheet" href="{$basePath}/css/datagrid.min.css">
    <link rel="stylesheet" href="{$basePath}/css/happy.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

    <title>{ifset title}{include title|stripHtml} | {/ifset}HlaSYS</title>

</head>
<body data-ma-theme="green">
<main class="main">
    <div class="page-loader" id="ajax-spinner" style="display:none;">
        <div class="page-loader__spinner">
            <svg viewBox="25 25 50 50">
                <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
        </div>
    </div>

    {control navBar}
    {control sideBar}

    <section class="content">
        <div class="content__inner">

            <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
            {include content}

        </div>
    </section>
</main>
{block scripts}
    <!-- Javascript -->
    <!-- Vendors -->
    <script src="{$basePath}/js/jquery.min.js"></script>
    <script src="{$basePath}/js/tether.min.js"></script>
    <script src="{$basePath}/js/bootstrap.min.js"></script>
    <script src="{$basePath}/js/waves.min.js"></script>
    <script src="{$basePath}/js/jquery.scrollbar.min.js"></script>
    <script src="{$basePath}/js/jquery-scrollLock.min.js"></script>
    <script src="{$basePath}/js/autosize.min.js"></script>
    <script src="{$basePath}/js/app.min.js"></script>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <!-- App functions and actions -->
    <script src="{$basePath}/js/netteForms.js"></script>
    <script src="{$basePath}/js/nette.ajax.js"></script>
    <script src="{$basePath}/js/spinner.js"></script>
    <script src="{$basePath}/js/main.js"></script>

    <script src="{$basePath}/js/happy.min.js"></script>
    <script src="{$basePath}/js/datagrid.min.js"></script>
    <script src="{$basePath}/js/datagrid-instant-url-refresh.min.js"></script>
    <script src="{$basePath}/js/datagrid-spinners.min.js"></script>

{/block}
</body>
</html>
