parameters:


application:
	errorPresenter: Error
	mapping:
		Api: App\Api\*Api
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    cronner: stekycz\Cronner\DI\CronnerExtension
    replicator: Kdyby\Replicator\DI\ReplicatorExtension
    restful: Drahak\Restful\DI\RestfulExtension
    visualPaginator: IPub\VisualPaginator\DI\VisualPaginatorExtension

mail:
    smtp: true
    host: smtp.seznam.cz
    username: mf21@seznam.cz
    password: XH8azo7I
restful:
	convention: 'snake_case'
	cacheDir: '%tempDir%/cache'
	jsonpKey: 'jsonp'
	prettyPrintKey: 'pretty'

services:
	authenticator: MujAuthenticator
	- App\Service\CommentService
	- App\Service\CronService
	- App\Service\GroupService
	- App\Service\ItemService
	- App\Service\LogService
	- App\Service\MailService
	- App\Service\ProposalService
	- App\Service\StatusService
	- App\Service\UserService
	- App\Service\VoteService
	- App\Service\VoteTypeService
	- App\Service\WatchService

	- App\Forms\IAdminFormFactory
	- App\Forms\ICommentFormFactory
	- App\Forms\IFilterFormFactory
	- App\Forms\ISearchFormFactory
	- App\Forms\IUserSettingsFormFactory
	- App\Forms\IVoteFormFactory
	- App\Forms\IWatchFormFactory
	- App\Forms\IReplicatorFormControl

	- App\Menu\INavBarFactory
	- App\Menu\ISideBarFactory

	- App\Table\ICommentTableFactory
	- App\Table\IItemTableFactory
	- App\Table\ILogTableFactory
	- App\Table\IProposalTableFactory
	- App\Table\IVoteTableFactory
	- App\Table\IWatchTableFactory

	proposalRepository:
	    class: App\Repository\ProposalRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Proposal
	proposalVotersRepository:
	    class: App\Repository\ProposalVotersRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\ProposalVoter
	userRepository:
	    class: App\Repository\UserRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\User
	groupRepository:
	    class: App\Repository\GroupRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Group
	voteRepository:
	    class: App\Repository\VoteRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Vote
	voteTypeRepository:
	    class: App\Repository\VoteTypeRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\VoteType
	watchRepository:
	    class: App\Repository\WatchRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Watch
	logRepository:
	    class: App\Repository\LogRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Log
	itemRepository:
	    class: App\Repository\ItemRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Item
	commentRepository:
	    class: App\Repository\CommentRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Comment
	router: App\RouterFactory::createRouter

doctrine:
    user: doctrine
    password: '***'
    dbname: hlasys
    metadata:
        App\Model: %appDir%
