<aside class="sidebar">
    <div class="scrollbar-inner">
        <div class="user">
            <div class="user__info" data-toggle="dropdown">
                <div>
                    <div class="user__name">username</div>
                    <div class="user__email">email</div>
                </div>
            </div>

            <div class="dropdown-menu">
                <a class="dropdown-item" href="">Nastavení</a>
                <a class="dropdown-item" href="">Odhlásit se</a>
            </div>
        </div>

        <ul class="navigation">
            <li><a href="{plink Homepage:default}">Dashboard</a></li>
            <li><a href="{plink Proposal:default}">Přehled návrhů</a></li>
            <li><a href="{plink Proposal:mine}">Moje návrhy</a></li>
            <li><a href="{plink Proposal:deleted}">Koš</a></li>
            <li><a href="{plink Proposal:create}">Přidat hlasování</a></li>
            <li><a href="{plink Help:default}">Nápověda</a></li>
            <li><a href="{plink Settings:default}">Nastavení</a></li>
        </ul>
    </div>
</aside>