{block content}
<div class="card">
    <div class="card-header">
        <h1 class="card-title">Přehled návrhů SO</h1>
    </div>

    <div class="card-block">
        {control proposalTable $proposals}
        {control paginator}
    </div>
</div>