{block content}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Vaše smazané návrhy</h4>
            </div>
            <div class="content table-responsive table-full-width">
                {control deletedProposals}
            </div>
        </div>
    </div>
</div>


